@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400&display=swap');
body{
  background-color: #f3f4f5;
 

}
.cardhead{
  font-family: 'Archivo', sans-serif;
}
.carddesc{
  font-family: 'Heebo', sans-serif;
}
.sectionhead{
  font-family: 'Rubik', sans-serif;

}

.logofont{
  font-family: 'Inter', sans-serif;

}
.max-w-custom {
  max-width: 1150px; /* Set your desired custom maximum width */
}
.heroheading{
  line-height: 100px;
  font-family: 'Inter', sans-serif;

}
/* src/components/ParallaxText.css */
.parallax-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.parallax-text {
  font-size: 2rem;
  animation: zoom 2s infinite;
}
/* Hero.css */
.hero-container {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.hero-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* Place the image behind the text */
}

.hero-text {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  color: white;
}

/* Add responsive styles for smaller screens */
@media (max-width: 768px) {
  .hero-text {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .heroheading{
    line-height: 50px;
  }
}
  
/* styles.css or your stylesheet */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.gradient-background {
  animation: gradientAnimation 5s linear infinite;
  background: linear-gradient(45deg, #ff00ff, #00ffff);
  background-size: 200% 200%;
}
/* section one */
.sectionone-background {
  animation: gradientAnimation 5s linear infinite;
  background: linear-gradient(45deg, #5f20b1, #00ffff);
  background-size: 200% 200%;
}

.white-div{
  animation: gradientAnimation 5s linear infinite;
  background: linear-gradient(45deg, #ffffff, #00ffff);
  background-size: 200% 200%;
}

/* section two */
.sectiontwo-background {
  animation: gradientAnimation 5s linear infinite;
  background: linear-gradient(45deg, #84FFC9, #3952F5);
  background-size: 200% 200%;
}

/* section three */
.sectionthree-background {
  animation: gradientAnimation 5s linear infinite;
  background: linear-gradient(45deg, #919BFF, #133A94);
  background-size: 200% 200%;
}

/* section four */
.sectionfour-background {
  animation: gradientAnimation 5s linear infinite;
  background: linear-gradient(45deg, #43C197, #1C1554);
  background-size: 200% 200%;
}

/* section eight */
.sectioneight-background {
  animation: gradientAnimation 5s linear infinite;
  background: linear-gradient(45deg, #9BF8F4, #6F7BF7);
  background-size: 200% 200%;
}

